  .foodsite--Fifthrow {
      &--Heading {
        text-align: left;
        margin: 1rem 3rem;
        font-family: "Times New Roman", Times, serif;
        font-size: 50px;
        color: rgb(31, 129, 168);
      }
      margin: 5rem 0;
      .foodsite--Fifthrow--deserts--Items {
        display: flex;
      }
      .desertCards {
        margin: 0 3rem;
      }
      .rating{
        display: flex;
        margin-top: 1rem;
      }
    }