.footer{ 
       margin-top: -2.1rem;
h2{
    font-size: 40px;
    color: #ffffff;
    margin-left: 5rem;
    // margin-bottom: 5rem;
}
span{
    color: rgb(219, 154, 100);
    }
p{
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-left: 5rem;
}
.button{
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(122, 84, 68);
    border-image: initial;
    padding: 15px 20px;
    margin-top: 10rem;
    transition: all 0.3s ease 0s;
    margin-left: 2rem;
    align-items: center;
    text-align: center;
    }
    .icon{
        float: right;
        margin-right: 4rem;
    }
.footer{
    font-size: 14px;
    color: #919191;
   margin-top: 20rem;
    font-weight: 500;
    }
}
