
.Navbar{
    background: rgba(0,0,0,0.6);
    display: inline-block;
   
.link{
        margin-top: 1rem;
        display:inline-block;
        list-style-type: none;
        margin-left: 2rem; 
        color: #db9a64;        
        font-weight: 500;
        font-family: "Roboto",sans-serif;
        position: relative;
        text-transform: capitalize;
        text-decoration: none;   
    }
.navbar--Button {
        background: transparent;
        font-family: "Roboto",sans-serif;
        padding: 14px 49px;
        font-size: 16px;
        font-weight: 600;
        border: 1px solid #db9a64;
        color: #db9a64;        
    }
.menuicon{
    display: none;
}
@media screen and (max-width:780) {
    .log{
        display: flex;
        position:absolute;
        top:15px;
        left:35px;

    }
    .links{
        display: none;
    }
}


}
