  .body{
    .content{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 350px;
        height: 400px;
        padding: 80px 40px;
        background: rgba(0,0,0,0.6);
    }
    .content h2{
       margin: 0;
       padding: 0 0 20px;
       color: #fff;
       text-align: center;
       text-transform: uppercase;
    }
    .content p{
       margin: 0;
       padding: 0;
       font-weight: bold;
       color: #fff;
    }
    .content input{
       width: 100%;
       margin-bottom: 20px;
    }
    .content input[type=email],
    .content input[type=password],
    .content input[type=text],
    .content input[type=text]
    {
      border: none;
       border-bottom: 1px solid #fff;
       background: transparent;
       outline: none;
       font-size:15px;
       color: #fff;
    }
    .content input[type=submit]{
       height: 30px;
       color: #fff;
       font-size: 15px;
       background:rgb(240, 77, 77);
       cursor: pointer;
       border-radius: 25px;
       border: none;
       outline: none;
       margin-top: 15%;
    }
    input[type=checkbox]{
       width: 5%;
    
    }
}